
    <script src="{{ '/assets/js/jquery.min.js' | url }}"></script>
    <script src="{{ '/assets/js/jquery.scrollex.min.js' | url }}"></script>
    <script src="{{ '/assets/js/jquery.scrolly.min.js' | url }}"></script>
    <script src="{{ '/assets/js/browser.min.js' | url }}"></script>
    <script src="{{ '/assets/js/breakpoints.min.js' | url }}"></script>
    <script src="{{ '/assets/js/util.js' | url }}"></script>
    <script src="{{ '/assets/js/main.js' | url }}"></script>
    <script src="{{ '/scripts/index.js' | url }}"></script>
