<!DOCTYPE HTML>
<html lang="de">
    <head>
        <title>{{ title }} | {{ siteName }}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="{{ '/assets/css/fontawesome-all.min.css' | url }}" />
        <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}" />
        <link rel="stylesheet" href="{{ '/assets/css/custom.css' | url }}" />
        <noscript><link rel="stylesheet" href="{{ '/assets/css/noscript.css' | url }}" /></noscript>
    </head>
    <body class="is-preload{% if bodyClass %} {{ bodyClass }}{% endif %}">
        <div id="wrapper">
            <div class="site-sticky-nav">
                {% include 'navigation.njk' %}
            </div>
            {% include 'header.njk' %}

            <main id="main">
                {{ content | safe }}
            </main>

            {% include 'scripts.njk' %}
        </div>
    </body>
</html>
